.navbar-inverse {
    background-color: #0f4471;
    border-color: #c09853;
}
.navbar-inverse .navbar-toggle {
    border-color: #c09853;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #c09853;
}
.navbar-inverse .navbar-brand {
    color: #c09853;
}
.navbar-inverse .navbar-nav > li > a {
    color: #c09853;
}

/*Course layout*/
.course {
    list-style: none;
}
.course >li {
    position: relative;
    margin-bottom: 30px;
}
.course> li .date {
    text-align: center;
    background-color: #0f4471;
    color: white;
    width: 60px;
    border-radius: 8px; 
}
.course > li .details {
    position: absolute;
    top: 0;
    left: 70px;
}
.course > li .action {
    display: none;
    left: 70px; 
    position:absolute;
}
.course > li:hover .action{
    display:block;
}
